<form [formGroup] = "userCredentialForm" (ngSubmit)="onSubmit()">
 
    <p>
      <label for="userName">Username</label>
      <input type="text" name="userName" formControlName = "userName">
    </p>
   
    <p>
      <label for="password">Password</label>
      <input type="password" name="password" formControlName="password">
    </p>

    <p>
      <label for="rememberMe">Remember me</label>
      <input type="checkbox" name="rememberMe" value="Remember me" formControlName = "rememberMe">
    </p>

    <p>
      <button type="submit">Submit</button>
    </p>
    
</form>


<button (click)="forget()">rere</button>



<form  [formGroup] = "userCredentialForm" (ngSubmit) = "onSubmit()">
  <div class="mb-3">
    <label for="userName" class="form-label">Email address</label>
    <input type="email" class="form-control" formControlName="userName">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" formControlName="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>