<form [formGroup] = "userCredentialForm" (ngSubmit)="onSubmit()">
 
    <p>
      <label for="userName">Username</label>
      <input type="text" name="userName" formControlName = "userName">
    </p>
   
    <p>
      <label for="password">Password</label>
      <input type="password" name="password" formControlName="password">
    </p>

    <p>
      <label for="rememberMe">Remember me</label>
      <input type="checkbox" name="rememberMe" value="Remember me" formControlName = "rememberMe">
    </p>

    <p>
      <button type="submit">Submit</button>
    </p>
    
</form>


<button (click)="forget()">rere</button>